[MASTER]
init-hook='import sys; sys.path.append("../trzsz-libs")'

[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable = missing-docstring,
          raise-missing-from,
          unspecified-encoding,
          broad-exception-caught,
          consider-using-f-string,
